
.slick-prev, .slick-next {
    top: 0;
    width: 40px;
    z-index: 2;
    display: flex !important;
    display: -webkit-flex !important;
    @include align-items( center );
    @include justify-content( center );
    @include transform( none );

    &::before {
        border-bottom: 4px solid #fff;
        content: "";
        height: 17px;
        line-height: 17px;
        text-align: center;
        width: 17px;
    }
}


.featured-posts-widget {
    .slick-prev, .slick-next {
        height: calc(100% - 105px);

        &::after {
            // background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
            content: "";
            height: 40px;
            left: 0;
            position: absolute;
            top: 50%;
            @include transform( translateY(-50%) );
            width: 40px;
        }
    }
    .slick-prev {
        left: 0;
        padding-left: 5px;

        &::before {
            border-left: 4px solid #fff;
            @include transform( rotate(45deg) );
        }
    }
    .slick-next {
        right: 0;
        padding-right: 5px;

        &::before {
            border-right: 4px solid #fff;
            @include transform( rotate(-45deg) );
        }
    }
}
.recent-posts-slide {
    .slick-next, .slick-prev {
        height: 100px;
    }
    .slick-prev {
        left: 5px;

        &::before {
            border-left: 4px solid #fff;
            @include transform( rotate(45deg) );
        }
    }
    .slick-next {
        right: 5px;

        &::before {
            border-right: 4px solid #fff;
            @include transform( rotate(-45deg) );
        }
    }
}
