//form comment
.comment-form {
	label {
	    color: $dark-blue;
	    display: block;
	    font-size: 13px;
	    font-weight: normal;
	    margin: 5px 0 2px;
	}
	span {
	    display: none;
	}
	input {
	    border: 1px solid #ccc;
	    padding: 5px;
	    width: 100%;
	}
	.form-submit {
		input {
		    background: $orange;
		    border: medium none;
		    color: #fff;
		    font-size: 16px;
		    font-weight: bold;
		    padding: 7px 30px;
		    text-transform: uppercase;
		    width: auto;
		    &:active, &:focus {
				border-color: #ccc;
		    }
		}
	}
}

//form single
.pre-comment-form {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
    // .comments {
		textarea {
		    border: 1px solid #000;
		    color: #000;
		    height: 80px;
		    padding: 10px;
		    width: 100%;
		}
		input {
			@extend .button-every-where;
			float: right;
			margin-top: 10px;
			text-transform: none;
		}
	// }
}


//form comment phan cap giao dien facebook
.comments > ol {
    padding-left: 0;
}
.comments ol {
    list-style-type: none;
    li {
    	padding: 10px 0 10px 10px;

    	&:nth-child(2n+1) {
		    background: #f2f0f0 none repeat scroll 0 0;
		}
    	.comment-body {
    		.comment-author {
			    margin-bottom: 10px;
			}
			.comment-meta a:first-child {
			    color: #000;
			}
    	}
    	p {
		    margin: 10px 0;
		}
    }
}





