body {
    font-family: Roboto;
    // font-family: 'nuoitom_arial';
}
a:hover, a:focus, a:active{ text-decoration: none; outline: none; @include transition(all 500ms ease 0s); }
input, select, textarea { outline: none; }
a { text-decoration: none; }
img {
    max-width: 100%;
    height: auto;
}
iframe {
    border: 0;
}

#back-to-top {
    bottom: 60px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 15px;
    z-index: 99;

    .fa {
        background: $blue none repeat scroll 0 0;
        @include border-radius( 50% );
        color: #fff;
        line-height: 40px;
        text-align: center;
        width: 40px;
    }
}


// @font-face{
//   font-family: 'roboto_bold';
//   src:url('../fonts/roboto-bold.ttf');
// }
// @font-face{
//   font-family: 'roboto_regular';
//   src:url('../fonts/roboto-regular.ttf');
// }
// @font-face{
//   font-family: 'nuoitom_arial';
//   src:url('../fonts/arial.ttf');
// }


.container { width: 1030px; margin: auto; padding-left: 5px; padding-right: 5px; }
.wrap { border: 1px solid #e1e1e1; padding: 5px 0; }



.main-title {
    @include align-items( center );
    @include flex-wrap( wrap );
    border-bottom: 1px solid #333;
    display: flex;
    display: -webkit-flex;
    margin: 10px 0;
    position: relative;
    width: 100%;

    > a h2 {
        border-bottom: 2px solid $blue;
        color: $blue;
        display: inline-block;
        // font-family: nuoitom_arial;
        font-weight: bold;
        font-size: 16px;
        margin: 0 5px -1px 0;
        padding: 5px 0;
        text-transform: uppercase;
    }
}
.title-widget a {
    border-bottom: 2px solid $blue;
    display: inline-block;
    padding-right: 10%;
    margin-bottom: 5px;

    h2 {
        color: $blue;
        font-size: 16px;
        // font-family: nuoitom_arial;
        font-weight: 700;
        margin: 0;
        text-transform: uppercase;
    }
}
.widget-title {
    border-bottom: 2px solid $blue;
    color: $blue;
    display: inline-block;
    // font-family: nuoitom_arial;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding-right: 10%;
    position: relative;
    text-transform: uppercase;
}
.title a h3 {
    color: #000;
    display: block;
    font-size: 14px;
    line-height: 1.4;
    margin: 5px 0 0;
    padding-left: 20px;
    position: relative;
    text-align: justify;

    &::before {
        background: $blue none repeat scroll 0 0;
        content: "";
        height: 5px;
        left: 5px;
        position: absolute;
        top: 7px;
        width: 5px;
    }
}
.desc {
    text-align: justify;
}


/* @extend background-cover; */
background-cover {
    @include background-size( cover );
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}


#commentform {
    display: none;
    overflow: hidden;
}

.g-recaptcha {
    margin-bottom: 13px;
}

figure {
    position: relative;

    .youtube-icon {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        color: rgba(0,0,0,0.7);
        font-size: 30px;
        top: 30px;
    }

    &:hover {
        .youtube-icon {
            color: #CC181E;
        }
    }
}

.content-page-cate-list {
    .youtube-icon {
        top: 55px;   
    }
}


