.footer {

    .container {
        background: #363636 none repeat scroll 0 0;
        color: #fff;
        font-size: 13px;
        line-height: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;

        .widget {
            margin: 0;

            p {
                margin: 0;
            }
        }
    }
}


//popup-mobile contact-header
.popup-mobile {
    bottom: 110px;
    display: none;
    position: fixed;
    right: 15px;
    z-index: 99;

    .popup-content {
        display: none;

        .contact-header {
            background: $blue none repeat scroll 0 0;
            padding: 20px;

            .widget {
                margin-bottom: 0;

                form {
                    margin-bottom: 0;
                }
            }
        }
    }
    .popup-plush .fa {
        background: $blue none repeat scroll 0 0;
        @include border-radius( 50% );
        color: #fff;
        cursor: pointer;
        float: right;
        line-height: 40px;
        margin-top: 10px;
        text-align: center;
        width: 40px;
    }
}


