.header-top {
    .container {
        border: 1px solid #e1e1e1;
        display: flex;
        display: -webkit-flex;
        @include align-items( center );
        padding: 7px 10px;

        .logo {
            padding-right: 10px;
            text-align: center;
            max-width: 300px;

            a {
                display: flex;
                display: -webkit-flex;
            }
            
            img {
                width: 100%;
            }
        }

        .header-ads {
            width: 100%;
            display: flex;
            display: -webkit-flex;

            section {
                display: flex;
                display: -webkit-flex;
                float: left;
                margin: 0;
                padding: 0 5px 0 0;
                width: 50%;

                a {
                    display: flex;
                    display: -webkit-flex;
                }

                &:last-child {
                    float: right;
                    padding: 0 0 0 5px;
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}


.menu {
    position: relative;

    .container {
        padding: 0;
        display: flex;
        display: -webkit-flex;
    }

    .main-menu {
        background: $blue;
        display: inline-block;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;

        .menu-main-menu-container {

            >ul {

                >li {
                    float: left;

                    .sub-menu {
                        background: $blue none repeat scroll 0 0;
                        left: 0;
                        display: none;
                        position: absolute;
                        top: 100%;
                        z-index: 2222;
                        min-width: 150%;

                        .sub-menu {
                            left: 100%;
                            top: 0;
                        }
                    }
                    a {
                        border-left: 1px solid transparent;
                        border-right: 1px solid transparent;
                    }
                    > a {
                        &::before {
                            background: #99c3cc none repeat scroll 0 0;
                            content: "";
                            height: 60%;
                            position: absolute;
                            right: -2px;
                            top: 50%;
                            width: 1px;
                            @include transform(translateY(-50%));
                        }
                    }
                }
            }

            ul {
                list-style: outside none none;
                margin: 0;
                padding: 0;

                li {
                    position: relative;

                    &:hover {
                        background: $blue-hover;

                        >.sub-menu {
                            display: block;
                            @include animation(0.3s ease 0s normal none 1 running fadeInUp);
                        }
                    }

                    &:first-child a::before {
                        // display: none;
                    }
                    &:last-child a::before {
                        display: none;
                    }

                    a {
                        color: #ffffff;
                        display: block;
                        // font-family: nuoitom_arial;
                        font-weight: bold;
                        padding: 10px 8px;
                        position: relative;
                        white-space: nowrap;
                        font-size: 12px;
                        margin: 0 1px;

                        .fa {
                            font-size: 18px;
                            display: inherit;
                        }
                    }
                }
                .current-menu-item {
                    background: $blue-hover;
                }
                ul li a {
                    padding: 10px;
                }

                .current-menu-item > a {
                    font-weight: bold;
                }
            }
        }
    }
}

/* marquee */
.header-marquee .container {
    @include align-items( center );
    background: #ebebeb none repeat scroll 0 0;
    display: flex;
    display: -webkit-flex;
    padding: 5px;

    .widget {
        margin-bottom: 0;
    }

    .marquee-date {
        background: #ebebeb none repeat scroll 0 0;
        color: #ff0000;
        float: left;
        // font-family: nuoitom_arial;
        font-size: 12px;
        margin-left: 5px;
        margin-right: 20px;
        line-height: 1;
        text-transform: capitalize;
        white-space: nowrap;
    }

    .marquee-hotline {
        color: red;
        float: right;
        font-size: 12px;
        // font-family: nuoitom_arial;
        margin: 0 50px 0 20px;
        white-space: nowrap;
        a {
            color: red;
        }
    }
}


.runtext-container {
    overflow-x: hidden;
    overflow-y: visible;
    float: left;

    .main-runtext {
        margin: 0 auto;
        overflow: visible;
        position: relative;
        display: flex;
        display: -webkit-flex;

        marquee {
            width: 100%;

            .holder {
                position: relative;
                overflow: visible;
                display:inline;

                .text-container {
                    display:inline;
                    margin: 0 30px;
                    font-size: 12px;

                    a {
                        color: #000;
                        margin-right: 40px;
                        text-decoration: none;

                        &:hover{
                            text-decoration: none;
                            color:#6600ff;
                        }
                    }
                }
            }
        }
    }
}
/* end marquee */


/*banner-home*/
.banner-home .container {
    padding: 0;
    section {
        margin: 10px 0 0;
    }
}




//menu mobile
.menu .mean-container {
    // position: relative;
}

.menu .mean-container .mean-bar {
    background: none;
    left: 0;
    padding: 0 0 4px;
    position: absolute;
    top: 0;
    z-index: 999;
    max-width: 370px;
}

.menu .mean-container .mean-bar .meanmenu-reveal {
    left: 0 !important;
    top: 0;
    padding: 11px 13px;
}

.menu .mean-container .mean-bar .mean-nav {
    background: $blue none repeat scroll 0 0 !important;
    margin-top: 44px;
}

.menu .mean-container .mean-nav ul li a {
    text-transform: none;
    padding-bottom: 10px;
    padding-top: 10px;
}

.menu .mean-container .mean-nav ul li .mean-expand {
    height: 16px;
    line-height: 16px;
}

.menu .mean-container .mean-nav ul li .mean-expand:hover {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
}