
.sidebar-small {
    width: 23%; padding: 5px; float: left;
}
.sidebar-large {
    width: 30%; padding: 5px; float: left;
}

//sidebar
.box-content {
    .item {
        display: inline-block;
        margin-bottom: 10px;
        width: 100%;

        figure {
            float: left;
            margin-right: 10px;
            max-width: 112px;
            width: 100%;

            img {
                @extend background-cover;
            }
        }

        .title a h3 {
            margin: -3px 0 0;
            padding: 0;
            color: $dark-blue;
            // font-family: nuoitom_arial;
            font-weight: bold;

            &::before {
                display: none;
            }
        }
    }
}

//box list news background den
.widget {
    margin-bottom: 10px;

    .background {
        max-height: 350px;
        overflow: auto;
        padding-right: 10px;
    }
    iframe {
        max-width: 100%;
    }
    .date {
        display: none;
    }
}


.widget-category.video iframe {
    max-height: 125px;
}

//box img
.widget_media_image {
    margin-bottom: 10px;

    img {
        width: 100%;
    }
}

//box comment
#commentform {
    overflow: hidden;
}
.comment-row {
    display: block;
    margin-top: 5px;
    padding: 0 5px;
    text-align: justify;

    .comment-author {
        color: red;
    }

    a {
        color: #000;
    }
}

//box video
.video-content a {
    color: #000;
    display: flex;
    display: -webkit-flex;
    margin-bottom: 5px;
    text-align: justify;
    
    .fa {
        margin: 2px 5px 0 0;
    }
}

//box search
.form-search {
    margin-bottom: 10px;
    position: relative;
    input {
        border: 1px solid $blue;
        border-radius: 2px;
        color: #000;
        padding: 2px 10px;
        width: 100%;
    }
    .search-icon {
        background: transparent none repeat scroll 0 0;
        border: medium none;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }
}

//sub cate
.subcate-details {
    background: #f2f0f0 none repeat scroll 0 0;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-right: 5px;
    .title-widget {
        padding: 5px;
    }
}

//side tag
.widget-title {
    background: rgba(0, 0, 0, 0) url("../images/icon-tag-large.png") no-repeat scroll 3px center;
    padding-left: 22px;
    font-size: 14px;
    margin: 0 0 5px;
}
.tagcloud {
    display: inline-block;
    width: 100%;
    a {
        background: #ebebeb url("../images/icon-tag-small.png") no-repeat scroll 5px center;
        color: #000;
        display: inline-block;
        float: left;
        font-size: 14px !important;
        margin: 5px 5px 0 0;
        padding: 5px 5px 5px 20px;
        text-transform: capitalize;
    }
}

//ads
.widget_advertisement img {
    width: 100%;
}




