
.content-page-cate-video {
    display: inline-block;
    width: 100%;
}

.content-page-cate-list {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    .msc-listing {
	    clear: left;
	    margin: 0 -18px;
	    padding: 0 5px;
	    .item {
		    float: left;
		    margin: 20px 0;
		    padding: 0 18px;
		    width: 25%;
		    figure {
		    	img {
				    @extend background-cover;
				}
		    }
		    .info {
		    	.title {
		    		a {
		    			h3 {
						    color: $dark-blue;
						    // font-family: nuoitom_arial;
						    font-weight: bold;
						    margin-top: 15px;
						    padding: 0;
						    &::before {
							    display: none;
							}
		    			}
		    		}
		    	}
		    }
		    &:nth-child(4n+1) {
			    clear: left;
			}
		}
	}
}

