.category-title h2 {
    color: $blue;
    // font-family: nuoitom_arial;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0 0 0 5px;
    text-transform: uppercase;
}

.archive-list .box-content .item figure {
	max-width: 187px;
}

.pagination {
    text-align: center;
    width: 100%;

    ul {
	    display: inline-block;
	    list-style: outside none none;
	    margin: 0;
	    padding: 0;

	    li {
		    float: left;

		    a, span {
			    border: 1px solid $blue;
			    border-radius: 3px;
			    color: $blue;
			    font-size: 16px;
			    font-weight: bold;
			    margin-right: 15px;
			    padding: 5px 11px;
		    }
		    .current {
			    background: $blue none repeat scroll 0 0;
			    color: #fff;
			}
		}
	}
}

.page-tag {
    padding: 5px;
}