#gform_2 {
	margin: auto;
	width: 50%;
}
.gform_wrapper form#gform_2 .gform_body ul li label span {
    color: #003471;
    display: inline-block;
}



.ginput_container_fileupload {
    width: 60%;
}
.ginput_container_fileupload input {
    padding: 3px 0;
}

