
.content-page {
    width: 47%; padding: 5px; float: left;
}

.featured-posts-widget {
    .item {
        figure {
            margin-bottom: 10px;
            position: relative;

            img {
                @extend background-cover;
            }

            .featured-title {
                a {
                    h3 {
                        background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
                        bottom: 0;
                        color: #fff;
                        font-size: 17px;
                        // font-weight: bold;
                        left: 0;
                        margin: 0;
                        padding: 15px 10px;
                        position: absolute;
                        width: 100%;
                    }
                }
            }
        }
        .info {
            .desc {
                height: 60px;
                margin-bottom: 10px;
                overflow: hidden;
                text-align: justify;
            }
        }
    }
}
.recent-posts-slide {
    margin: 0 -5px;

    div {
        .item {
            float: left;
            padding: 0 5px;
            width: 33.3%;

            figure {
                img {
                    @extend background-cover;
                }
            }
            .info {
                .slide-title {
                    a {
                        h3 {
                            color: $dark-blue;
                            // font-family: nuoitom_arial;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 1.4;
                            margin: 10px 0 0;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}



.cat-home {
    clear: left;

    .main-title {

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                float: left;

                a {
                    border-left: 1px solid #333;
                    color: #333;
                    display: inline-block;
                    line-height: 0.8;
                    margin: 5px 0 5px 5px;
                    padding-bottom: 2px;
                    padding-left: 5px;
                }
            }
        }
    }

    .item {
        display: inline-block;
        padding: 0 0 5px;
        width: 100%;

        &:first-child {
            .info {
                .title {
                    a h3 {
                        padding: 0;
                        margin-top: -3px;
                        color: $dark-blue;
                        font-weight: bold;

                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }

        figure {
            float: left;
            margin-right: 10px;
            margin-bottom: 5px;
            max-width: 187px;
            width: 100%;

            img {
                @extend background-cover;
            }
        }
        .info {
            .title {
                a h3 {
                    color: #000;
                    // font-family: nuoitom_arial;
                    margin-top: 0;
                    padding-left: 10px;
                    position: relative;
                    margin-top: 0;

                    &::before {
                        background: $blue;
                        content: "";
                        height: 5px;
                        left: 0;
                        position: absolute;
                        top: 7px;
                        width: 5px;
                    }
                }
            }
        }
    }
    .content-ads img {
        width: 100%;
    }
}