.map-lienhe {
    float: right;
    margin-top: 40px;
    width: 55%;
}
#gform_wrapper_1 {
    float: left;
    padding-right: 5%;
    width: 45%;
}
.main {
    padding: 0 5px;
}


.gform_wrapper {
    form {

        .gform_heading {
            display: none;
        }
        .gform_body {
            ul li {
                background: transparent none repeat scroll 0 0 !important;
                border: medium none !important;
                margin: 0 !important;
                padding: 0 !important;
                label {
                    color: $dark-blue !important;
                    font-size: 13px;
                    // font-weight: normal;
                    margin-bottom: 2px;
                    margin-top: 5px !important;
                    span {
                        display: none;
                    }
                }
                .ginput_container {
                    margin: 0 !important;
                    input {
                        border: 1px solid #ccc;
                        width: 100%;
                    }
                    textarea {
                        border: 1px solid #ccc;
                        width: 100%;
                    }
                }
            }
        }
        .gform_footer {
            margin: 10px 0 0;
            padding: 0;
            input {
                @extend .button-every-where;
            }
        }
    }
}



.gfield_description {
    color: red !important;
    margin-top: 10px;
    padding: 0 !important;
}
.validation_error {
    border: medium none !important;
    color: red !important;
    margin: 0 !important;
}
.validation_message {
    color: red !important;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required {
    margin-bottom: 0 !important;
}


//repon form


#gform_wrapper_1, #gform_wrapper_2 {
    .top_label li {
        max-width: calc(100%) !important;
        width: calc(100%);
        .ginput_container input {
            border: 1px solid #ccc;
            width: 100%;
        }
    }
}



