
// .content-page {
	.entry-content {
	    // font-family: nuoitom_arial;
	    text-align: justify;
	}
	.entry-title {
	    color: $dark-blue;
	    // font-family: nuoitom_arial;
	    font-weight: bold;
	    font-size: 20px;
	    margin: 0;
	    padding: 0;
	}
	.entry-updated {
	    color: #666;
	    display: block;
	    font-size: 13px;
	    font-style: italic;
	    margin-bottom: 10px;
	    margin-top: 5px;
	}
	.entry-excerpt {
	    color: #000;
	    // font-family: nuoitom_arial;
	    text-align: justify;
	    font-weight: 600;
	}
	.entry-note {
	    background: #fff34e none repeat scroll 0 0;
	    padding: 10px;
	}
	.entry-tag {
	    background: #ebebeb none repeat scroll 0 0;
	    color: #000;
	    display: inline-block;
	    margin: 10px 5px 10px 0;
	    padding: 2px 5px;
	    text-transform: capitalize;
	}
// }

.ghichu {
	background:#d2f8ff;
	float:left;
	text-align:left;
	color:#000;
	font-weight:bold;
	margin:5px 10px 10px;
	padding:10px;
	font-style:italic;
	max-width:200px;
}
.ghichu.xanh {
	background:#d2f8ff;
}
.ghichu.vang {
	background:#ffffcc;
}
.ghichu.left {
	float:left;
	text-align:left;
}
.ghichu.right {
	float:right;
	text-align:right;
}




