
.content-page-video {
    float: left;
    padding: 5px;
    width: 60%;
    iframe {
	    width: 100%;
	}
}

.sidebar-video {
    float: left;
    padding: 5px;
    width: 40%;
    .title-widget {
	    display: none;
	}
	.item {
		display: inline-block;
		width: 100%;
	    border-bottom: 1px solid #ccc;
	    padding-bottom: 10px;
	    margin: 10px 0 0 0;

	    &:first-child {
		    // display: -webkit-flex;
		    margin-top: 0;
		}

		&:last-child {
		    border-bottom: medium none;
		}

		.title {
			a {
				h3 {
					&::before {
						display: none;
					}
				}
			}
		}

		figure {
		    max-width: 166px;
		    float: left;
		    margin-right: 10px;
		    width: 100%;

			img {
				@extend background-cover;
			}
		}
	}
	.date {
		display: block;
		color: #959595;
	}
	.box-content .item figure {
		max-width: 166px;
	}
}


