@media screen and (max-width:1199px) {}

@media screen and (max-width:1030px) {
    .container {
        width: 100%;
        overflow: hidden;
    }
    .menu {
        background: $blue;
        height: 44px;

        .container {
            display: block;
        }
    }
}

@media screen and (max-width:992px) {
    .featured-posts-widget .item .info .desc {
        height: auto;
    }
}

@media screen and (max-width:767px) {
    .header-top .container .logo {
        margin: 0 auto 10px;
        width: 100%;
        padding: 0;

        img {
            width: auto;
        }

        a {
            display: block;
        }
    }
    .header-top .container {
        display: block;
        padding-bottom: 10px;
    }
    .header-marquee .runtext-container {
        display: none;
    }
    .header-marquee .container {
        // display: block;
    }
    .header-marquee .marquee-hotline {
        margin: 0;
        padding-left: 5px;
        width: 100%;
        text-align: right;
    }
    //home
    .main {
        display: flex;
        display: -webkit-flex;
        @include flex-wrap( wrap );
    }
    .sidebar-small {
        @include order( 2 );
        width: 50%;
    }
    .content-page {
        @include order( 1 );
        width: 100%;
    }
    .sidebar-large {
        @include order( 3 );
        width: 50%;
    }

    .sidebar-video {
        @include order( 1 );
        width: 100%;
    }
    //lien he
    .map-lienhe {
        margin: 0;
        width: 100%;
    }
    #gform_wrapper_1 {
        padding: 0;
        width: 100%;
    }
    //ban doc gui bai
    .gform_wrapper {
        max-width: 100%;
        width: 100%;
    }
    #gform_2 {
        width: 100%;
    }
    .ginput_container_fileupload {
        width: 100%;
    }
    //category video
    .content-page-cate-list .msc-listing .item {
        width: 50%;
        margin: 10px 0;
    }
    .content-page-cate-list .msc-listing .item:nth-child(2n+1) {
        clear: left;
    }
    //sidebar
    .widget-category.video iframe {
        max-height: inherit;
    }
    //mobile
    .popup-mobile {
        display: block;
    }
}

@media screen and (max-width:480px) {
    .header-top .container .header-ads {
        display: block;

        section {
            margin-bottom: 10px;
            width: 100%;
            padding: 0;

            &:last-child {
                margin-bottom: 0;
                padding: 0;
            }
        }
    }
    .header-marquee .container {
        display: block;
    }
    .header-marquee .container .marquee-hotline {
        text-align: left;
        margin: 0;
    }
    //footer
    .footer .container {
        font-size: 14px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    //home
    .main {
        display: flex;
        display: -webkit-flex;
        @include flex-wrap( wrap );
    }
    .sidebar-small {
        width: 100%;
    }
    .sidebar-large {
        width: 100%;
    }
    //category video
    .content-page-cate-list .msc-listing {
        margin: 0 -5px;
    }
    .content-page-cate-list .msc-listing .item {
        padding: 0 5px;
    }
}

@media screen and (max-width:400px) {
    //footer
    .footer .container {
        font-size: 12px;
    }
    //home
    .cat-home .item figure {
        @include respon-img-full;
    }
    //category
    .archive-list .box-content .item figure {
        @include respon-img-full;
    }
    //single video
    .sidebar-video .box-content .item figure {
        @include respon-img-full;
    }
}

@media screen and (max-width:320px) {

}